<div class="container">
  <div class="page-header">
    <h1>How To Mine</h1>
  </div>
  <p class="lead">In order to mine on this pool you need to have an
    <a href="https://github.com/ethereum/webthree-umbrella/releases" rel="nofollow" target="_blank">ethminer</a> installation
    pointed to<br/><code>{{config.HttpHost}}:{{config.HttpPort}}/YOUR_ETH_ADDRESS/RIG_ID</code>
  </p>

  <h3>Personal payout threshold</h3>
  <p>
   To set the payout threshold level you have to <a href="/#/about">contact</a> me with our desire amount, account id and miner ip address.
  </p>

  <h4>Stratum Mining with Stratum Proxy for Ethereum</h4>
  <p class="lead">Grab proxy from <a href="https://github.com/Atrides/eth-proxy" re="nofollow" target="_blank">eth-proxy GitHub repo</a>.</p>
  <p class="lead">Edit <code>eth-proxy.conf</code> and specify our pool's <code>HOST: {{config.StratumHost}}</code>, <code>PORT: {{config.StratumPort}}</code> and your <code>WALLET</code>.</p>

  <h3>PPLNS block reward</h3>
  <p>
   There is no way to cheat the pool.
  </p>
</div>
