<div id="page-wrapper">
 <div class="row align-middle" style="padding-top:50px;font-size: 30px;">
    <div class="col-lg-12">
        <div class="col-xs-12 alert alert-danger">
            <i class="fa fa-warning"></i>
            <span  style="font-family: Arvo; margin-top:80px; border-bottom: none;font-size: 30px;">
                <strong>If you are looking for your account statistics, you need to submit at least a single share. Sorry no share found for the given Address, Please verify your address and try again</strong>         
            </span>
        </div>
    </div>
 </div>
</div>


